.divider {
  border-right: 0.1rem solid grey;
  height: 80%;
}

.left-card {
  width: 30% ;
  height: 30vh;
}

.right-card {
  width: 60% ;
  height: 30vh;
}

.orange{
  color: #ff9900;
}

.orange-brackground {
  background-color: #ff9900 !important;
  color: white !important;
}
